# Entorno Virtual
.venv/
venv/

# Archivos de Python Cache
__pycache__/
*.pyc

# Base de datos local
seguimiento.db

# Archivos de Excel y CSV (Datos)
*.xlsx
*.csv

# Archivos que ya no quiero subir
reportes_visuales.py
analisis_datos.py
reporte_seguridad.txt
cert.pem
key.pem

# Carpeta de gráficos generados
graficos_generados/
reportes_visuales_generados/

# Variables de entorno
.env
